.view_container {
	box-shadow: 0 0px 30px #bbb;
	-moz-box-shadow: 0 0px 30px #bbb;
	-webkit-box-shadow: 0 0px 30px #bbb;
	margin-top: 51px;
	overflow: hidden;
}

.posts .quote{
	border: 1px solid #ddd;
	margin: 10px 0;
	padding: 10px;
}